<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <script src="vendors/jquery.min.js" charset="utf-8"></script>
  <script src="scripts/client.js" charset="utf-8"></script>
  <title>Tau To Do List</title>
</head>
<body>
  <h1>Tau To Do List</h1>
  <div>
    <input id="taskInput" type="text" name="taskInput" placeholder="Enter Task"></input>
    <button id="createTaskBtn" type="button" name="button">Create Task</button>
  </div>
  <div id="outputDiv">
  </div>
  <div id="btnDiv">
    <button id="completeTaskBtn" type="button" name="completetask">Complete Task</button>
    <button id="deleteTaskBtn" type="button" name="deleteTask">Delete Task</button>
  </div>
</body>
</html>
